button.btn {
  cursor: pointer;
  background: var(--primary);
  padding-block: 5px;
  padding-inline: 15px;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  border: none;
  box-shadow: var(--box-shadow-button);
  text-transform: uppercase;
  transition: 0.3s;
}

button.btn-disabled {
  cursor: not-allowed ;
  background: var(--light-gray);
}


button.btn:hover {
  background: var(--white);
  color: var(--primary);
}

button.btn-disabled:hover {
  background: var(--light-gray);
  color: var(--white);
}
