.leheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.center {
  justify-content: center;
}

.logo {
  width: 250px;
  height: auto;
}

.nextGen {
  width: 104px;
  margin-left: 20px;
}

.textebienvenue {
  color: white;
  margin-left: 80px;
}

.traitheader {
  width: 60%;
  border-bottom: 2px solid white;
  margin: auto;
}

@media screen and (max-width: 478px) {
  .leheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 40px;
  }
  
  .logo {
    width: 60vw;
    height: auto;
  }
  
  .textebienvenue {
    color: white;
    margin-left: 10px;
  }
  
  .traitheader {
    width: 60%;
    border-bottom: 2px solid white;
    margin: auto;
  }
}

/*390*844*/