.leheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  justify-content: center;
}

.logo {
  width: 20vw;
  height: auto;
}

.traitheader {
  width: 60vw;
  border-bottom: 2px solid white;
  margin: auto;
}

@media screen and (max-width: 478px) {
  .leheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .logo {
    width: 80vw;
    height: auto;
  }
  
  .traitheader {
    width: 60%;
    border-bottom: 2px solid white;
    margin: auto;
  }
}

/*390*844*/