p.connexiontext {
  color:var(--white);
  font-style: normal;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
}

div.blockyellow {
  background-color: var(--secondary);
  /* margin-inline : 65px; */
  padding-block: 10px;
}

a.urlsite {

  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.05em;
  color: var(--background);
  text-decoration: none;
}