
div.numberq {
  display: inline-block;
  color: var(--background);
  background: var(--secondary);
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 5px;
  margin-bottom: 10px;
}