
div.question{
  padding-top: 100px;
}
div.numberq {
  color: var(--background);
  background: var(--secondary);
  
  font-family: 'Barlow Condensed';
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;

  margin-inline: 39vw;
  margin-bottom: 10px;
}