#podium div.podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--black);
  width: 30vw;
  column-gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#podium div.card {
  width: 30%;
}

#podium div.card h4 {
  color: var(--white);
  font-size: 18px;
  /* word-break: break-all; */
}

#podium div.col {
  margin-top: 30px;
  justify-content: flex-end;
}

#podium div.col1 {
  background: var(--secondary);
  height: 140px;
}

#podium div.col2 {
  background: var(--secondary);
  height: 250px;

}

#podium div.col3 {
  background: var(--secondary);
  height: 100px;

}

#podium div.podium p {
  margin: 0;
  font-size: 30px;
  bottom: 0;
  background-color: var(--white);
}

@media only screen and (max-width: 600px) {
  #podium div.col {
    background: var(--primary);
  }

  #podium div.podium {
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
  }

  #podium div.podium p {
    font-size: 20px;
    bottom: 0;
  }
}