/*Bloc résultat*/
.Resultcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  padding-bottom: 10%;
  /* height: 100vh; */
}


.blocResult {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  text-align: center;
  color: var(--background);
  background-color: white;
  padding-block: 15px;
  font-size: 40px;
  text-transform: uppercase;
}

.blocDivScore {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*Bloc score*/
.score {
  color: white;
  /* width: 291px;
  height: 78px; */
  font-size: 40px;
}

.divScore {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 291px;
  height: 78px;
}


.blocDivClassement {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/*Bloc score*/
.Classement {
  color: white;
  /* width: 291px;
  height: 78px; */
  font-size: 40px;
}

.divClassement {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 291px;
  height: 78px;
}

.textClassement, .textReponse {
  font-size: 25px;
}

.blocDivFelicitation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.divFelicitation {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 317px;
  height: 47px;
}

/*Bloc score*/
.Felicitation {
  color: white;
  /* width: 291px;
  height: 78px; */
  font-size: 30px;
}

.divTextReponse {
  display: flex;
  justify-content: center;
}

.textReponse {
  width: 337px;
}
