@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@font-face {
  font-family: bahnschrift;
  src: url('./fonts/bahnschrift.ttf');
}

body {
  margin: 0;
  font-family: bahnschrift, -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: 'Share Tech', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
